<?xml version="1.0"?>
<config>
	<modules>
		<Reman_Sync>
			<version>1.0.0</version>
		</Reman_Sync>
	</modules>
	<frontend>
		<routers>
			<sync>
				<use>standard</use>
				<args>
					<module>Reman_Sync</module>
					<frontName>sync</frontName>
				</args>
			</sync>
		</routers>
	</frontend>
	<global>
		<blocks>
			<sync>
				<class>Reman_Sync_Block</class>
			</sync>
		</blocks>
		<helpers>
			<sync>
				<class>Reman_Sync_Helper</class>
			</sync>
		</helpers>
		<models>
			<sync>
				<class>Reman_Sync_Model</class>
				<resourceModel>sync_mysql4</resourceModel>
			</sync>
			<sync_mysql4>
				<class>Reman_Sync_Model_Mysql4</class>
				<entities>
					<make> 
						<table>reman_make</table>
					</make>
					<model> 
						<table>reman_model</table>
					</model>
					<applic> 
						<table>reman_applic</table>
					</applic>
					<gsp> 
						<table>reman_gsp</table>
					</gsp>
					<gsw> 
						<table>reman_gsw</table>
					</gsw>
				</entities>
			</sync_mysql4>
		</models>
		<resources>
			<sync_setup>
				<setup>
					<module>Reman_Sync</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</sync_setup>
			<sync_write>
				<connection>
					<use>core_write</use>
				</connection>
			</sync_write>
			<sync_read>
				<connection>
					<use>core_read</use>
				</connection>
			</sync_read>
		</resources>
	</global>
	<crontab>
		<jobs>
			<sync_order>
				<schedule>
					<cron_expr>*/5 * * * *</cron_expr>
				</schedule>
				<run>
					<model>sync/order::syncData</model>
				</run>
			</sync_order>
			<sync_inventory>
				<schedule>
					<cron_expr>*/15 * * * *</cron_expr>
				</schedule>
				<run>
					<model>sync/inventory::syncData</model>
				</run>
			</sync_inventory>
			<sync_profile>
				<schedule>
					<cron_expr>0 * * * *</cron_expr>
				</schedule>
				<run>
					<model>sync/profile::syncData</model>
				</run>
			</sync_profile>
			<sync_gsp>
				<schedule>
					<cron_expr>0 * * * *</cron_expr>
				</schedule>
				<run>
					<model>sync/gsp::syncData</model>
				</run>
			</sync_gsp>
			<sync_gsw>
				<schedule>
					<cron_expr>0 * * * *</cron_expr>
				</schedule>
				<run>
					<model>sync/gsw::syncData</model>
				</run>
			</sync_gsw>
			<sync_make>
				<schedule>
					<cron_expr>0 */12 * * *</cron_expr>
				</schedule>
				<run>
					<model>sync/make::syncData</model>
				</run>
			</sync_make>
			<sync_model>
				<schedule>
					<cron_expr>0 */12 * * *</cron_expr>
				</schedule>
				<run>
					<model>sync/model::syncData</model>
				</run>
			</sync_model>
			<sync_applic>
				<schedule>
					<cron_expr>0 * * * *</cron_expr>
				</schedule>
				<run>
					<model>sync/applic::syncData</model>
				</run>
			</sync_applic>
			<sync_parts>
				<schedule>
					<cron_expr>0 */12 * * *</cron_expr>
				</schedule>
				<run>
					<model>sync/parts::syncData</model>
				</run>
			</sync_parts>
		</jobs>
	</crontab>
</config>