<?xml version="1.0"?>
<config>
	<modules>
		<Reman_Warranty>
			<version>1.0.0</version>
		</Reman_Warranty>
	</modules>
	<frontend>
		<routers>
			<warranty>
				<use>standard</use>
				<args>
					<module>Reman_Warranty</module>
					<frontName>warranty</frontName>
				</args>
			</warranty>
		</routers>
	</frontend>
	<global>
		<blocks>
			<warranty>
				<class>Reman_Warranty_Block</class>
			</warranty>
		</blocks>
		<helpers>
			<warranty>
				<class>Reman_Warranty_Helper</class>
			</warranty>
		</helpers>
		<models>
			<warranty>
				<class>Reman_Warranty_Model</class>
				<resourceModel>warranty_mysql4</resourceModel>
			</warranty>
			<warranty_mysql4>
				<class>Reman_Warranty_Model_Mysql4</class>
				<entities>
					<gsw> 
						<table>reman_gsw</table>
					</gsw>
				</entities>
			</warranty_mysql4>
		</models>
		<resources>
			<warranty_setup>
				<setup>
					<module>Reman_Warranty</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</warranty_setup>
			<warranty_write>
				<connection>
					<use>core_write</use>
				</connection>
			</warranty_write>
			<warranty_read>
				<connection>
					<use>core_read</use>
				</connection>
			</warranty_read>
		</resources>
	</global>
</config>