<?xml version="1.0"?>
<config>
	<modules>
		<Reman_Track>
			<version>0.1.0</version>
		</Reman_Track>
	</modules>
	<frontend>
		<routers>
			<track>
				<use>standard</use>
				<args>
					<module>Reman_Track</module>
					<frontName>track</frontName>
				</args>
			</track>
		</routers>
		<layout> 
            <updates>
                <track>
                    <file>track.xml</file>
                </track>
            </updates>
        </layout>
	</frontend>
	<global>
		<blocks>
			<track>
				<class>Reman_Track_Block</class>
			</track>
		</blocks>
		<helpers>
			<track>
				<class>Reman_Track_Helper</class>
			</track>
		</helpers>
	</global>
</config>