<?xml version="1.0"?>
<config>
	<modules>
		<Reman_Order>
			<version>1.0.0</version>
		</Reman_Order>
	</modules>
	<global>
		<models>
            <order>
				<class>Reman_Order_Model</class>
				<resourceModel>order_mysql4</resourceModel>
			</order>
			<order_mysql4>
				<class>Reman_Order_Model_Mysql4</class>
				<entities>
					<order> 
						<table>reman_order</table>
					</order>
				</entities>
			</order_mysql4>
        </models>
		<helpers>
			<order>
				<class>Reman_Order_Helper</class>
			</order>
		</helpers>
        <events>
        	<sales_order_place_after>
        		<observers>
        			<reman_customers_save_observer>
        				<type>singleton</type>
        				<class>Reman_Order_Model_Export_Observer</class>
        				<method>export_new_order</method>
        			</reman_customers_save_observer>
        		</observers>
        	</sales_order_place_after>
        </events>
		<resources>
			<order_setup>
				<setup>
					<module>Reman_Order</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</order_setup>
			<order_write>
				<connection>
					<use>core_write</use>
				</connection>
			</order_write>
			<order_read>
				<connection>
					<use>core_read</use>
				</connection>
			</order_read>
		</resources>
	</global>
</config>
