<?xml version="1.0"?>
<config>
	<modules>
		<Reman_Profile>
			<version>0.1.0</version>
		</Reman_Profile>
	</modules>
	<frontend>
		<routers>
			<profile>
				<use>standard</use>
				<args>
					<module>Reman_Profile</module>
					<frontName>profile</frontName>
				</args>
			</profile>
		</routers>
		<layout> 
            <updates>
                <profile>
                    <file>profile.xml</file>
                </profile>
            </updates>
        </layout>
	</frontend>
	<global>
		<blocks>
			<profile>
				<class>Reman_Profile_Block</class>
			</profile>
		</blocks>
		<helpers>
			<profile>
				<class>Reman_Profile_Helper</class>
			</profile>
		</helpers>
	</global>
</config>