<?xml version="1.0"?>
<config>
	<modules>
		<Reman_Customers>
			<version>1.0.0</version>
		</Reman_Customers>
	</modules>
	<global>
		<models>
            <customers>
                <class>Reman_Customers_Model</class>
            </customers>
        </models>
        <events>
        	<adminhtml_customer_save_after>
        		<observers>
        			<reman_customers_save_observer>
        				<type>singleton</type>
        				<class>Reman_Customers_Model_Save_Observer</class>
        				<method>export_to_csv</method>
        			</reman_customers_save_observer>
        		</observers>
        	</adminhtml_customer_save_after>
        </events>
		<resources>
			<customers_setup>
				<setup>
					<module>Reman_Customers</module>
					<class>Mage_Customer_Model_Entity_Setup</class>
				</setup>
			</customers_setup>
		</resources>
	</global>
</config>