<?xml version="1.0"?>
<config>
	<modules>
		<Reman_Company>
			<version>1.0.0</version>
		</Reman_Company>
	</modules>
	<frontend>
		<routers>
			<company>
				<use>standard</use>
				<args>
					<module>Reman_Company</module>
					<frontName>company</frontName>
				</args>
			</company>
		</routers>
	</frontend>
	<adminhtml>
		<menu>
			<company module="company">
				<title>Company</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="company">
						<title>Company Manager</title>
						<sort_order>0</sort_order>
						<action>company/adminhtml_company</action>
					</items>
				</children>
			</company>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<company>
							<title>Company Module</title>
							<sort_order>200</sort_order>
						</company>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<company>
					<file>company.xml</file>
				</company>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<models>
			<company>
				<class>Reman_Company_Model</class>
				<resourceModel>company_mysql4</resourceModel>
			</company>
			<company_mysql4>
				<class>Reman_Company_Model_Mysql4</class>
				<entities>
					<company> 
						<table>reman_company</table>
					</company>
				</entities>
			</company_mysql4>
		</models>
		<resources>
			<company_setup>
				<setup>
					<module>Reman_Company</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</company_setup>
			<company_write>
				<connection>
					<use>core_write</use>
				</connection>
			</company_write>
			<company_read>
				<connection>
					<use>core_read</use>
				</connection>
			</company_read>
		</resources>
		<helpers>
            <company>
                <class>Reman_Company_Helper</class>
            </company>
        </helpers>
	</global>
</config>