<?xml version="1.0"?>
<config>
	<modules>
		<Reman_Quote>
			<version>0.1.0</version>
		</Reman_Quote>
	</modules>
	<frontend>
		<routers>
			<quote>
				<use>standard</use>
				<args>
					<module>Reman_Quote</module>
					<frontName>quote</frontName>
				</args>
			</quote>
		</routers>
		<layout> 
            <updates>
                <quote>
                    <file>quote.xml</file>
                </quote>
            </updates>
        </layout>
	</frontend>
	<global>
		<blocks>
			<quote>
				<class>Reman_Quote_Block</class>
			</quote>
		</blocks>
		<helpers>
			<quote>
				<class>Reman_Quote_Helper</class>
			</quote>
		</helpers>
		<models>
            <quote>
                <class>Reman_Quote_Model</class>
            </quote>
        </models>

        <template>
            <email>
                <reman_order_confirmation>
                    <label>Reman Order Confirmation</label>
                    <file>order_email_template.html</file>
                    <type>html</type>
                </reman_order_confirmation>
        </email>
            <email>
                <reman_error_shipping>
                    <label>Reman Shipping Service Error</label>
                    <file>shipping_error.html</file>
                    <type>html</type>
                </reman_error_shipping>
            </email>
    </template>

	</global>
</config>